// COLOR VARIABLES
//
$color-primary: #ffffff;
$color-secondary: #36c1ba;
$color-primary-dark: #f0f6f4;
//BTN
$color-hero-secondary: #78bc61;
//Footer
$color-footer-primary:#192632;
$color-footer-secondary:#121920;

//
$color-light-1: #ffffff;
//$color-grey-light-2: #aaa;

$color-dark-1: #121920;
$color-dark-2: #5a6065;

//$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Bebas Neue', cursive;
$font-display: 'Montserrat', sans-serif;

//RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
   box-sizing: border-box;
   font-size: 62.5%; // 10px/16px=62.5% -> 1rem -10px
   
//    @media only screen and (max-width: $bp-largest){
//         font-size: 50%;
//    }


}

body{
    font-family: $font-display;
    // color: $color-grey-dark-2;
    // font-weight: 300;
    line-height: 1.6;
}

.container{
    display: grid;
    //grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    //grid-template-columns:[sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem)[col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    grid-template-columns: 1fr repeat(12, minmax(min-content,9.7rem))1fr;
    margin: 0 auto;
    gap: 1.5rem;
    //grid-template-rows: repeat(10,1fr);

//     @media only screen and (max-width: $bp-large){
//         grid-template-rows:6rem 80vh min-content 40vw repeat(3, min-content);
//         grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem)[col-end]) [center-end] minmax(6rem, 1fr) [full-end];
//    }
//     @media only screen and (max-width: $bp-medium){
//         grid-template-rows:6rem calc(100vh - 6rem);
//    }
    
}