.hero {
  grid-column: 2/14;
  min-height: 700px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8.8rem 0;
}

.botels {
  grid-column: 1/1;
  &__img {
    width: 80%;
  }
}

.subscribe {
  grid-column: 2/2;
  display: flex;
  flex-direction: column;
  &__text {
    text-align: center;
    &__heading {
      text-transform: uppercase;
      font-family: $font-primary;
      font-size: 4rem;
      margin-bottom: 54px;
    }
    &__desc {
      font-family: $font-display;
      font-size: 1.6rem;
      color: $color-dark-2;
      margin-bottom: 16px;
    }
    &__order {
      font-family: $font-display;
      font-size: 1.6rem;
      color: $color-dark-1;
      font-weight: 700;
      margin-bottom: 28px;
    }
  }
}

.selectBotels {
  &__select {
    width: 55.5rem;
    height: 5.6rem;
    margin: 0 auto;
    border: 2px solid #e5e4d7;
    border-radius: 5px;
    padding: 0 1rem;
    appearance: none;
    background: url(/img/icons/arows.png) 100%/100% no-repeat #fff;
    background-size: 7%;
    font-family: $font-display;
    font-size: 1.6rem;
    font-weight: 400;
  }
  &__checkbox {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    margin-bottom: 40px;
    &__box {
      width: 27%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      & input {
        position: absolute;
        cursor: pointer;
        height: 33px;
        width: 22px;
        left: 15px;
        z-index: 22;
        opacity: 0;
      }
      & .checkmark {
        position: absolute;
        top: 5px;
        left: 5px;
        height: 40px;
        width: 40px;
        border: 2px solid #e5e4d7;
        border-radius: 5px;
        & span {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 1.5rem;
          height: 1.5rem;
          background: #e5e4d7;
          display: block;
          border-radius: 3px;
          transform: translate(-50%, -50%);
        }
      }
        & .checkmark:after {
          content: "";
          position: absolute;
          display: none;
          background-position: center;
        }
    }
    &__text {
      font-size: 1.6rem;
      margin-left: 30px;
      & b {
        font-family: $font-display;
        font-weight: 900;
      }
    }
    &__box input:checked ~ .checkmark  {
        border: none;
        & span{
            display: none;
        }
        
      background-color:  $color-secondary;
    }
    &__box input:checked ~.checkmark::after{
        display: block;
    }
    &__box .checkmark::after{
        left: 50%;
        top: 50%;
        width: 20px;
        height: 16px;
        transform: translate(-50%, -50%);
        background: url(../img/icons/checkbox-selected.png) no-repeat;
    }
    &__box input:checked ~ .selectBotels__checkbox__text b{
        color: $color-secondary;
    }
  }
}
.calories {
    display: flex;
    justify-content: space-between;
    width: 84%;
    align-items: center;
    &__price{
        & span:nth-child(1){
            font-family: $font-display;
            font-weight: 900;
            font-size: 1.6rem;

        }
        & span{
            font-size: 1.6rem;
            font-family: $font-display;
        }
    }

}
