.hero {
  grid-column: 2/14;
  min-height: 700px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  //padding: 8.8rem 0;
  position: relative;
  margin-top: 11.2rem;
  @media only screen and (max-width: $bp-small) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.botels {
  grid-column: 1/1;
  @media only screen and (max-width: $bp-small) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  &__img {
    width: 80%;
    @media only screen and (max-width: $bp-small) {
      width: 50%;
    }
  }
}

.subscribe {
  grid-column: 2/2;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: $bp-small) {
    width: 80%;
    margin-bottom: 25px;
  }

  &__text {
    text-align: center;
    & img {
      margin-bottom: 20px;
    }
    &__heading {
      text-transform: uppercase;
      font-family: $font-display;
      font-size: 4rem;
      margin-bottom: 20px;
    }
    &__desc {
      font-family: $font-display;
      font-size: 1.6rem;
      color: $color-dark-2;
      margin: 0 auto;
      margin-bottom: 16px;
      @media only screen and (max-width: $bp-small) {
        font-size: 3rem;
      }
    }
    &__order {
      font-family: $font-display;
      font-size: 1.6rem;
      color: $color-dark-1;
      font-weight: 700;
      margin-bottom: 28px;
    }
  }
}

.selectBotels {
  &__select {
    width: 66.5rem;
    height: 5.6rem;
    border: 2px solid #e5e4d7;
    border-radius: 5px;
    padding: 0 1rem;
    appearance: none;
    background: url(/img/icons/arows.png) 100%/100% no-repeat #fff;
    background-size: 7%;
    font-family: $font-display;
    font-size: 1.6rem;
    font-weight: 400;
  }
  &__checkbox {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    margin-bottom: 40px;
    position: relative;
    &__box {
      width: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      & input {
        position: absolute;
        cursor: pointer;
        height: 33px;
        width: 22px;
        left: 15px;
        z-index: 22;
        opacity: 0;
      }
      & .checkmark {
        position: absolute;
        top: 5px;
        left: 5px;
        height: 40px;
        width: 40px;
        border: 2px solid #e5e4d7;
        border-radius: 5px;
        & span {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 1.5rem;
          height: 1.5rem;
          background: #e5e4d7;
          display: block;
          border-radius: 3px;
          transform: translate(-50%, -50%);
        }
      }
      & .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        background-position: center;
      }
    }
    &__text {
      font-size: 1.6rem;
      margin-left: 7rem;
      & b {
        font-family: $font-display;
        font-weight: 900;
      }
    }
    &__box input:checked ~ .checkmark {
      border: none;
      & span {
        display: none;
      }

      background-color: $color-secondary;
    }
    &__box input:checked ~ .checkmark::after {
      display: block;
    }
    &__box .checkmark::after {
      left: 50%;
      top: 50%;
      width: 20px;
      height: 16px;
      transform: translate(-50%, -50%);
      background: url(../img/icons/checkbox-selected.png) no-repeat;
    }
    &__box input:checked ~ .selectBotels__checkbox__text b {
      color: $color-secondary;
    }
  }
}
.calories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__price {
    & span:nth-child(1) {
      font-family: $font-display;
      font-weight: 900;
      font-size: 1.6rem;
    }
    & span {
      font-size: 1.6rem;
      font-family: $font-display;
    }
  }
}
.cookies {
  position: absolute;
  background: $color-dark-1;
  color: $color-primary;
  display: flex;
  width: 65.5rem;
  padding: 2.4rem 3rem;
  border-radius: 6px;
  align-items: center;
  bottom: -15%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media only screen and (max-width: $bp-medium) {
    bottom: -12%;
  }
  & p {
    width: 75%;
    font-family: $font-display;
    font-weight: 400;
    font-size: 1.3rem;
  }
  & span {
    width: 2.2rem;
    height: 2.2rem;
    border: 2px solid #5a5e63;
    font-size: 1.6rem;
    color: #5a5e63;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
}
.tooltip {
  position: absolute;
  width: 27.7rem;
  top: -218%;
  left: 45%;
  background: #fff;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 8px 4px #9090908f;
  border-radius: 5px;
  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
    height: 80px;
  }

  & p {
    width: 80%;
    font-size: 1.2rem;
  }
  & p:nth-child(1) {
    margin-bottom: 14px;
  }
  & span {
    display: block;
    clip-path: polygon(53% 100%, 0 0, 100% 0);
    position: absolute;
    bottom: -7px;
    background: #fff;
    width: 9px;
    height: 7px;
  }
  & a {
    color: $color-secondary;
  }
}

.close__popup {
  display: none;
}
