.testimonials {
  grid-column: 1/-1;
  background: $color-primary-dark;
  text-align: center;
  min-height: 600px;
  padding: 76px 0;
  &__heading {
    text-transform: uppercase;
    font-family: $font-display;
    font-size: 4rem;
    margin-bottom: 20px;
  }
  & p {
    font-family: $font-display;
    font-size: 1.6rem;
    color: $color-dark-2;
    margin-top: 20px;
  }
}
.testBoxWrapp{
    margin-top: 45px;
    display: flex;
    justify-content: space-evenly;
   // padding: 0 15rem;

    // laptop
    padding:0;
&__box{
    //width: 32rem;

    //laptop
    //width: 28rem;
    position: relative;
    cursor: pointer;
    & img:nth-child(2){
        width: 100%;
        border-radius: 10px;
       filter:contrast(67%);
    }
    & img:nth-child(1){
        position: absolute;
        right: 13px;
        top: 13px;
        z-index: 2;
    }
    &-desc{
        position: absolute;
        bottom: 15px;
        left: 15px;
        text-align: left;
        & span{
            color: $color-primary;
            font-family: $font-display;
            font-weight: 700;
            font-size: 1.3rem;
        }
        & p{
            color: $color-primary;
            font-family: $font-display;
            font-weight: 400;
            font-size: 1.3rem;
            margin: 0;
        }
    }
}
}